version: '3.8'

services:
  license-server:
    image: ruking001/jrebel-license-server:latest
    container_name: license-server
    restart: unless-stopped
    ports:
      - "${PORT:-8081}:8081"
    environment:
      # 服务器配置
      - PORT=${PORT:-8081}
      - HOST=${HOST:-0.0.0.0}
      - SERVER_VERSION=${SERVER_VERSION:-3.2.4}
      - SERVER_GUID=${SERVER_GUID:-a1b4aea8-b031-4302-b602-670a990272cb}
      - PROTOCOL_VERSION=${PROTOCOL_VERSION:-1.1}
      - SERVER_RANDOMNESS=${SERVER_RANDOMNESS:-H2ulzLlh7E0=}

      # Web 配置
      - DOCKER_IMAGE=${DOCKER_IMAGE:-ruking001/jrebel-license-server}
      - BASE_URL=${BASE_URL:-http://home.997269.xyz:38881}  # 留空则自动检测

    networks:
      - license-network

networks:
  license-network:
    driver: bridge